body {
    font-size: 18px;
    color: #F4F4F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #2F4550;
}
.game-container {
    text-align: center;
    background-color: #586F7C;
    padding: 9rem;
    border-radius: 12px;
    width: 420px;
}
img {
    height: 75px;
    width: 75px;
    background-color: transparent;
    padding: 5px;
}

button {
    border-radius:8px;
    border-color: black;
    margin: 5px;
}
.choices button:hover {
    background: #B8DBD9;
}
.choices button:active {
    background: #2F4550;
}